<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <div class="fondoimagen">
            <div class="encabezado">
                <a href="../index.html">
                    <img class="logotipo" src="../assets/img/logo.jpg" alt="logoempresa" height="980" width="980">
                </a>
               <h1> AGENCIA TROTAMUNDOS </h1>
            </div>
        </div>
        <nav class="barra">
                <a class="enlace" href="../views/productos.html"> Productos</a>
                <a class="enlace" href="../views/presupuestos.html">Presupuestos</a>
                <a class="enlace active" href="../views/contacto.html">Contacto</a>
        </nav>
    </header>
    <main>
        <h2> Dónde puedes encontrarnos </h2>
        <p> Nos encontramos en la calle Zamora, num 7, Asturias</p>
        <img class="mapa" src="../assets/img/mapa.png" alt="mapa" height="522" width="1076">
        <P> O también nos puedes llamar al 6******** </P>
        <p> Ven a conocernos</p>
        <p> TE ESPERAMOS!</p>

    </main>

    <footer>
        <p class="footer"> Para más información síguenos en nuestras redes sociales: </p>
        <a href="#" > <img class="redsocial" src="../assets/img/instagram.jpg" alt="instagram" height="360" width="360"></a>
        <a href="#"> <img class="redsocial" src="../assets/img/x.jpg" alt="x" height="500" width="500"></a>
        <a href="#"> <img class="redsocial" src="../assets/img/facebook.jpg" alt="facebook" height="500" width="500"></a>
        <p class="footer"> También nos puedes encontrar en Calle Zamora, num 7, Asturias</p>
        <p class="footer"> Aviso legal</p>

    </footer>
    
</body>
</html>