<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <div class="fondoimagen">
            <div class="encabezado">
                <a href="../index.html">
                    <img class="logotipo" src="../assets/img/logo.jpg" alt="logoempresa" height="980" width="980">
                </a>
               <h1> AGENCIA TROTAMUNDOS </h1>
            </div>
        </div>
        <nav class="barra">
                <a class="enlace active" href="./productos.html"> Productos</a>
                <a class="enlace" href="../views/presupuestos.html">Presupuestos</a>
                <a class="enlace" href="../views/contacto.html">Contacto</a>
        </nav>
    </header>
    <main>
           <div class="main-productos"> 
                <div class="bloque1">
                    <img class="imagen1 imagen-pais" src="../assets/img/amsterdam.jpg" alt="amsterdam" height="408" width="612">
                    <p class="eslogan"> Ámsterdam: Arte, canales y la magia de lo inesperado.</p>
                    <a href="#" class="boton"> Reservar viaje </a>
                          
                </div>
                <div class="bloque2">
                    <img class="imagen-pais" src="../assets/img/budapest.jpg" alt="budapest" height="408" width="612">
                    <p class="eslogan"> Budapest: Donde el Danubio une historia, cultura y relax.</p>
                    <a href="#" class="boton"> Reservar viaje </a>
                </div>
                <div class="bloque3">
                    <img class="imagen-pais" src="../assets/img/estambul.jpg" alt="estambul" height="1414" width="2121">
                    <p class="eslogan"> Estambul: Un crisol de culturas e historias.</p>
                    <a href="#" class="boton"> Reservar viaje </a>
                </div>
                <div class="bloque4">
                    <img class="imagen-pais" src="../assets/img/indiaa.jpg" alt="india" height="2000" width="3000">
                    <p class="eslogan"> India: Un viaje a través de colores, sabores y espiritualidad.</p>
                    <a href="#" class="boton"> Reservar viaje </a>
                </div>
                <div class="bloque5">
                    <img class="imagen-pais" src="../assets/img/islandia.webp" alt="islandia" height="800" width="1200">
                    <p class="eslogan"> Islandia: Naturaleza salvaje, paisajes que quitan el aliento.</p>
                    <a href="#" class="boton"> Reservar viaje </a>
                </div>
                <div class="bloque6">
                    <img class="imagen-pais" src="../assets/img/paris.jpg" alt="paris" height="408" width="612">
                    <p class="eslogan"> París: El arte de vivir, el encanto de cada rincón.</p>
                    <a href="#" class="boton"> Reservar viaje </a>
                </div>
        </div>
    </main>

    <footer>
        <p class="footer"> Para más información síguenos en nuestras redes sociales: </p>
        <a href="#" > <img class="redsocial" src="../assets/img/instagram.jpg" alt="instagram" height="360" width="360"></a>
        <a href="#"> <img class="redsocial" src="../assets/img/x.jpg" alt="x" height="500" width="500"></a>
        <a href="#"> <img class="redsocial" src="../assets/img/facebook.jpg" alt="facebook" height="500" width="500"></a>
        <p class="footer"> También nos puedes encontrar en Calle Zamora, num 7, Asturias</p>
        <p class="footer"> Aviso legal</p>

    </footer>
    
</body>
</html>
                                                            